---
import AnnotationViewer from "@components/Notes/editors-viewers/AnnotationViewer";
import Badge from "@components/ui/Badge";
import Layout from "@layouts/Layout.astro";
import { createServerClient } from "@utils/api";
import { formatDate } from "@utils/date";
import { parseResponse } from "hono/client";
import ArticleActionBar from "./_components/ArticleActionBar.tsx";
import NoteViewer from "./_components/NoteViewer.astro";

const { id } = Astro.params;

if (!id) {
  throw new Error("Article ID is required");
}

const response = await createServerClient(Astro.request.headers).api.articles[
  ":id"
].$get({ param: { id: id }, query: { userId: Astro.locals.user?.id } });

console.log("Fetched article:", response);
const article = await parseResponse(response);

if (!article) {
  throw new Error("Article not found");
}

const isOwner = Astro.locals.user?.id === article.user.id;
const authorName = isOwner ? "You" : article.user.name;
---

<Layout>
  <main class="max-w-2xl mx-auto my-8">
    <ArticleActionBar client:load article={article} user={Astro.locals.user} />
    <h1 class="font-serif text-2xl text-black">{article.title}</h1>
    {
      article.type === "page" && article.description && (
        <p class="text-sm mt-2 mb-3">{article.description}</p>
      )
    }
    <div class="text-xs text-gray-500 mb-4 mt-1">
      by {
        isOwner ? (
          <span>You</span>
        ) : (
          <span>
            <a class="link" href="/user/:id">
              {authorName}
            </a>
          </span>
        )
      } · <span title={new Date(article.createdAt).toLocaleDateString()}
        >{formatDate(article.createdAt)}</span
      >
    </div>
    {
      article.type === "note" ? (
        <NoteViewer note={article} />
      ) : (
        <AnnotationViewer annotation={article} />
      )
    }

    <div class="divider mt-10">projects</div>
    <ul class="flex gap-2 whitespace-nowrap">
      {
        article.projects.map((project) => (
          <Badge
            id={project.id}
            ownerId={project.owner.id}
            ownerName={project.owner.name}
            userId={Astro.locals.user?.id}
          >
            {project.name}
          </Badge>
        ))
      }
    </ul>
  </main>
</Layout>
