---
import Layout from "@layouts/Layout.astro";
import { createServerClient } from "@utils/api";
import { parseResponse } from "hono/client";
import Article from "@components/Article";

const client = createServerClient(Astro.request.headers);
const page = Astro.url.searchParams.get('page') || '1'
const res = await client.api.articles.newest.$get({query: {
	page
}})
const data = await parseResponse(res);
const articles = data.articles;
const hasMore = data.hasMore;
---

<Layout>
	<main class="ml-24 mt-16 max-w-3xl">
		<div role="tablist" class="tabs tabs-border gap-4">
			<a href="/" role="tab" class="tab before:w-full before:left-0 p-0">Recommended</a>
			<a href="/newest" role="tab" class="tab tab-active font-bold before:border-base-300 before:w-full before:left-0 before:bg-base-300 p-0">Newest</a>
		</div>
		<ul class="list mt-4 rounded-none">
		{
			articles.map((article) => (
				<Article 
					id={article.id} 
					title={article.title}
					description={article.type === 'note' ? article.content : article.description} 
					authorName={article.user.name} 
					createdAt={article.createdAt} 
					authorId={article.user.id}
					userId={Astro.locals.user?.id}
				/>
			))
		}
		</ul>
		{hasMore ? <button id="load-more">Load more</button> : <></>}
	</main>
</Layout>


<script>
	document.getElementById("load-more")?.addEventListener("click", () => {
		const url = new URL(window.location.href);
		const currentPage = parseInt(url.searchParams.get('page') || '1', 10);
		url.searchParams.set('page', (currentPage + 1).toString());
		window.location.href = url.toString();
	});
</script>